@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/ecommerceImgs/light-patten.svg');
  font-family:'Encode Sans Expanded', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*7tet deh hena 34an shared 3la kol elcomponents w m3ndesh gher navbar wahda*/
.navbar,footer{
  background-color: #eee;
}
a{
  text-decoration: none;
}
.allorderdiv{
  border-radius: 50px;
  padding: 20px;
 margin:55px ;
 box-shadow: -1px -2px 47px 0px rgba(0,0,0,0.64);
 -webkit-box-shadow: -1px -2px 47px 0px rgba(0,0,0,0.64);
 -moz-box-shadow: -1px -2px 47px 0px rgba(0,0,0,0.64);
}
